@font-face{
  font-family: Excelate;
  src: url(font/excelate.ttf);
}

.font{
  font-size: 3rem;
  padding: 1rem;
  font-family: Excelate;
  text-align: center;
}

html,
body,
header,
.view {
  height: 100%;
}

body{
    background-color: black;
}

#main{
  background-color: black;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}

h6 {
  line-height: 1.7;
}

.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(127, 0, 0, 0.6), rgba(0, 0, 0, 0.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(127, 0, 0, 0.6), rgba(0, 0, 0, 0.7) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(127, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.7)));
  background: -o-linear-gradient(45deg, rgba(127, 0, 0, 0.6), rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to 45deg, rgba(127, 0, 0, 0.6), rgba(0, 0, 0, 0.7) 100%);
}
 
.nav-bk{
     
background: #070000;    
background: -webkit-linear-gradient(to right,#4C0001, #070000,  #070000);   
background: linear-gradient(to right,#4C0001, #070000,  #070000);
}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.joinform {
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 1rem;
  color: #f4f4f4;
  text-transform: uppercase;
  font-weight: bold;
}

.join_btn {
  text-decoration: none;
  border: 1px solid rgb(199, 39, 39);
  position: relative;
  overflow: hidden;
}

.join_btn:hover {
  box-shadow: 1px 1px 25px 6px rgba(199, 39, 39, 0.4);
  text-decoration: none;
  color: white;
}

.join_btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
  120deg,
  transparent,
  rgba(199, 39, 39, 0.4),
  transparent
  );
  transition: all 650ms;
}

.join_btn:hover:before {
  left: 100%;
}