
<nav class="navbar navbar-expand-lg navbar-dark nav-bk navbar fixed-top">
    <a class="navbar-brand" href="/"><img src="img/LogoVágottM.png" alt="CarScope" title="CarScope"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= path === '/' ? '' : 'active' %>">
          <a class="nav-link effect-shine" href="/">Kezdőoldal</a>
        </li>
        <% if(user != undefined) { %>
          <li class="nav-item <%= path === '/fooldal' ? '' : 'active' %>">
            <a class="nav-link effect-shine" href="/fooldal">Jármű lekérdezés</a>
          </li>
        <% } %>
        <li class="nav-item <%= path === '/sugo' ? '' : 'active' %>">
          <a class="nav-link effect-shine" href="sugo">Tudj meg többet</a>
        </li>
        <li class="nav-item <%= path === '/kapcsolat' ? '' : 'active' %>">
          <a class="nav-link effect-shine" href="kapcsolat">Kapcsolat</a>
        </li>
        
      </ul>
        <% if(user == undefined) { %>
          <form class="form-inline my-2 my-lg-0">

            <a class="btn btn-outline-light" href="bejelentkezes" type="submit">Bejelentkezés</a>
            &nbsp;&nbsp;
            <a href="regisztracio" class="btn btn-outline-light" type="submit">Regisztráció</a>
          </form>
        <% }else{ %>
          <form class="form-inline my-2 my-lg-0" method="post" action="/kijelentkezes">
            <button class="btn btn-outline-light" type="submit">Kijelentkezés</button>
          </form>
        <% } %>
    </div>
  </nav>