<nav class="navbar navbar-expand-lg navbar-dark nav-bk navbar fixed-top">
    <a class="navbar-brand" href="/"><img src="img/LogoVágottM.png" alt="CarScope" title="CarScope"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link effect-shine" href="/vendeg">Lekérdezés</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link disabled text-secondary" href="">Termékek</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link disabled text-secondary" href="">Kosár</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-outline-light" href="bejelentkezes" type="submit">Bejelentkezés</a>
        &nbsp;&nbsp;
        <a href="regisztracio" class="btn btn-outline-light" type="submit">Regisztráció</a>
      </form>
    </div>
  </nav>