<nav class="navbar navbar-expand-lg navbar-dark nav-bk navbar fixed-top">
    <a class="navbar-brand" href="/"><img src="img/LogoVágottM.png" alt="CarScope" title="CarScope"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= path === '/fooldal' ? '' : 'active' %>">
          <a class="nav-link effect-shine" href="/fooldal">Lekérdezés</a>
        </li>
        <li class="nav-item <%= path === '/termekek' ? '' : 'active' %>">
          <a class="nav-link effect-shine" href="/termekek">Termékek</a>
        </li>
        
        <li class="nav-item <%= path === '/kosar' ? '' : 'active' %>">
          <a class="nav-link effect-shine" href="/kosar">Kosár</a>
        </li>
        <li class="nav-item <%= path === '/kalkulator' ? '' : 'active' %>">
          <a class="nav-link effect-shine" href="/kalkulator">Magasság kalkulátor</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method="post" action="/kijelentkezes">
        <button class="btn btn-outline-light" type="submit">Kijelentkezés</button>
      </form>
    </div>
  </nav>