<%- include('includes/header.ejs') %>

  <link rel="stylesheet" href="/css/bejelentkezes.css">

</head>

<body>
  <div class="main">
    <p class="sign" align="center">Sign in</p>
    <form class="form1" action="/bejelentkezes" method="post">
      <input class="un " type="text" name="email" id="email" align="center" placeholder="E-mail address">
      <input class="pass" type="password" name="jelszo" id="jelszo" align="center" placeholder="Password">
      <p align="center"><button type="submit" class="submit">Sign in</button></p>
      <p class="forgot" align="center"><a href="/regisztracio"><u>Don't have an account?</u></a></p>
    </div>
     
</body>

</html>