<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/contactUs.css">
<link rel="stylesheet" href="/css/buttons.css">
</head>
<body>
    <%- include('includes/navbar.ejs') %>
    <h1>Kapcsolat</h1>
    <% if (siker == true) {%>
        <h1>Sikeresen elküldte az üzenetet</h1>
    <% } %>
    <form action="/contactuskuld" method="POST" class="contactform">
        <div >
            <div class="form__group field">
                <input type="text" class="form__field" placeholder="Name" name="name" id='name' required />
                <label for="name" class="form__label">Név</label>
            </div>
        
            <div class="form__group field">
                <input type="email" class="form__field" placeholder="Email" name="email" id='email' required />
                <label for="email" class="form__label">Email</label>
            </div>
            
            <div class="form__group_text field_text">
                <textarea type="text" class="form__field_text" placeholder="Message" name="uzenet" id='uzenet' required  rows="10"></textarea>
                <label for="name" class="form__label_text">Üzenet</label>
            </div>
            
            <button class="join_btn joinform" type="submit" value="ALL ON">Küldés</button>
        </div> 
    </form>
    
</body>
<%- include('includes/footer.ejs') %>