<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/contactUs.css">
<link rel="stylesheet" href="/css/buttons.css">
</head>
<body>
    <%- include('includes/navbar.ejs') %>
    <h1>Kapcsolat</h1>
    <div class="form__group field">
        <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
        <label for="name" class="form__label">Név</label>
    </div>

    <div class="form__group_text field_text">
        <textarea type="input" class="form__field_text" placeholder="Name" name="name" id='name' required  rows="10"></textarea>
        <label for="name" class="form__label_text">Üzenet</label>
    </div>
    <a href="/" class="join_btn joinform">Küldés</a>
    
</body>
<%- include('includes/footer.ejs') %>