<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/kezdolap.css">
<link rel="stylesheet" href="/css/buttons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/fooldal.css">
<link rel="stylesheet" href="/css/select.css">
<script src="https://unpkg.com/vue@next" defer></script>
<script src="/js/fooldal.js" defer></script>
</head>
</head>
<body>
    <%- include('includes/navbar_fooldal.ejs') %>
    <h1>Főoldal</h1>

    <div id="cars">
        <label class="custom-select" for="styledSelect1">
        <select v-model="selected" id="styledSelect1" name="options">
            <option value="R" selected>Rendszám</option>
            <option value="A">Alvázszám</option>
        </select>
        </label>
        <form method="post" action="/fooldal"> 
            <div v-if="valasztott == 'R'">
                <input maxlength='7' value='ABC-123' class="rendszam" id="rendszam" name="rendszam" type="text"/>
            </div>
            <div v-if="valasztott == 'A'">
                <input maxlength='17' value='' class="alvazszam"/>
            </div>
            <% if (lekerderedm != undefined) {%>
            <div class="card">
                <div class="card-header">
                    <%= rendszam.evjarat %>
                </div>
                <% } %>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
              </div>
        </form>
</body>
<%- include('includes/footer.ejs') %>