<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/kezdolap.css">
<link rel="stylesheet" href="/css/buttons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
</head>
<body>
    <h1>Főoldal</h1>
    <form method="get" action="/">
        <p><button type="submit" class="submit">Kijelentkezés</button></p>
    </form>
</body>
</html>