<%- include('includes/header.ejs') %>
    <link rel="stylesheet" href="/css/kalkulator.css" defer>
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/fooldal.css">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="/js/kalkulator.js" defer></script>

    <body>
        <%- include('includes/navbar_fooldal.ejs') %>
            <h1 class="h1-responsive font-weight-bold mt-sm-5 text-center title" style="color: white;">Kerék magasság kalkulátor</h1>
            <form method="post" action="/kalkulator" class="centered">
                <div id="kalkulator" class="justify-content-center centered">
                    <label class="field field_v2">
                        <input class="field__input" placeholder="111" v-model='szelesseg' maxlength='3' id="szelesseg" name="szelesseg" type="text" maxlength="3">
                        <span class="field__label-wrap">
                          <span class="field__label">Szélesség</span>
                        </span>
                    </label>
                    <label class="field field_v2">
                        <input class="field__input" placeholder="22" v-model='oldalfal' maxlength='2' id="oldalfal" name="oldalfal" type="text" maxlength="2">
                        <span class="field__label-wrap">
                          <span class="field__label">Oldalfal</span>
                        </span>
                    </label>
                    <label class="field field_v2">
                        <input class="field__input" placeholder="22" v-model='magassag' maxlength='2' id="magassag" name="magassag" type="text" maxlength="2">
                        <span class="field__label-wrap">
                          <span class="field__label">Magasság</span>
                        </span>
                    </label>
                    <div v-if="magassag_validate == true && oldalfal_validate == true && szelesseg_validate == true">
                        <div class="centered keresBTN">
                            <button type="submit" class="join_btn joinform">Számítás</button>
                        </div>
                    </div>
                    <div v-else-if="magassag_validate == false || oldalfal_validate == false || szelesseg_validate == false">
                        <div class="centered keresBTN">
                            <button disabled type="button" class="disabled">Számítás</button>
                        </div>
                    </div>
                    <div class="eredmeny">
                        <% if (Eredmeny !=undefined) {%>
                            <p style="color: white;">Kerékmagasság:
                                <%= Eredmeny.toFixed(2)%> cm</p>
                            <% } %>
                    </div>
                </div>
            </form>


    </body>
    <%- include('includes/footer.ejs') %>