<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/buttons.css">
<link rel="stylesheet" href="/css/kezdolap.css">
<link rel="stylesheet" href="/css/buttons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/fooldal.css">
<link rel="stylesheet" href="/css/select.css">
<link rel="stylesheet" href="/css/card.css">
<script src="https://unpkg.com/vue@next" defer></script>
<script src="/js/kalkulator.js" defer></script>

<body>
    <%- include('includes/navbar_fooldal.ejs') %>
    <h1 class="h1-responsive font-weight-bold mt-sm-5 text-center" style="color: white;">Kerék magasság kalkulátor</h1>
    <form method="post" action="/kalkulator"> 
        <div id="kalkulator" class="justify-content-center centered">
            <img src="https://electricscooterparts.com/graphics/wheel-diameter2.png" class="landscape">
            <input v-model='szelesseg' maxlength='3' id="szelesseg" name="szelesseg" type="number"/>
            <p style="color: white;">/</p>
            <input v-model='oldalfal' maxlength='2' id="oldalfal" name="oldalfal" type="number"/>
            <p style="color: white;">R</p>
            <input v-model='magassag' maxlength='2' id="magassag" name="magassag" type="number"/>
            <div v-if="magassag_validate == true && oldalfal_validate == true && szelesseg_validate == true">
                <div class="centered keresBTN">
                    <h1>Anyád</h1>
                    <button enabled type="button" class="join_btn joinform">Számítás</button>
                </div>
            </div>
            <div v-else-if="magassag_validate == false || oldalfal_validate == false || szelesseg_validate == false">
                <div class="centered keresBTN">
                    <h1>aőád</h1>

                    <button disabled type="button" class="join_btn joinform">Számítás</button>
                </div>
            </div>
            <% if (Eredmeny != undefined) {%>
                <p style="color: white;">Számított kerékmagasság: <%= Eredmeny%> cm</p>
            <% } %>
        </div>
     </form>

    
</body>
<%- include('includes/footer.ejs') %>


