<%- include('includes/header.ejs') %>
    <link rel="stylesheet" href="/css/kezdolap.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <%- include('includes/navbar.ejs') %>
            <div class="view"
                style="background-image: url('img/hatter2.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center center; background-attachment: fixed;">
                
                <div class="text-light">
                    <br>
                    <br>
                    <br>
                    <h1 class="font-weight-bold text-center font">CarScope</h1>
                    <br>
                </div>
                <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
                    
                    <div class="container">
                        
                        <div class="row">
                            
                            <div class="col-md-6 text-light text-center text-md-left mt-xl-5 mb-5">
                                <h1 class="h1-responsive font-weight-bold mt-sm-5 text-center cim">Tudj meg mindent a
                                    jövőbeli autódról</h1>
                                <hr class="hr-light">
                                <h6 class="mb-4 text-center">Ha szeretne megbizonyosodni az ön által
                                    megvásárolni kívánt autó állapotáról akkor tökéletes helyen jár. Nálunk gyorsan és
                                    könnyedén megtekintheti weboldalunkon a választott autó adatait
                                    mindössze egy rendszám vagy alvázszám megadásával.
                                </h6>
                                <div class="btn_container">
                                    <% if(user==undefined) { %>
                                        <a href="/bejelentkezes" class="join_btn joinform">Bejelentkezés most</a>
                                        &nbsp;&nbsp;

                                        <% }else{ %>
                                            <a href="/termekek" class="join_btn joinform">Termékek</a> &nbsp;&nbsp;
                                            <% } %>
                                                <a href="/fooldal" class="join_btn joinform">
                                                    <% if(user==undefined) { %>
                                                        Folytatás vendégként
                                                        <% }else{ %>
                                                            Jármű lekérdezés
                                                            <% } %>
                                                </a>
                                </div>
                            </div>
                            
                            <div class="col-md-6 col-xl-5 mt-xl-5">
                                <img src="img/logo1.png" alt="CarScope" class="img-fluid" title="CarScope">
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
            </header>
            
            
            <main id="main">
                <div class="container text-light">
                    
                    <div class="row py-5">
                        
                        <div class="col-md-12 text-center">
                            <p>A magyar állami rendszámlekérdezés korlátozott adattartalommal bír, csak a hazai
                                forgalomba helyezésű járművek adatait tartalmazza attól a pillanattól kezdve, hogy
                                itthon forgalomba helyezték őket. Ezzel szemben teljes adattartalommal rendelkező
                                előéleti jelentésünk tartalmazza a jármű szerviztörténetét, a sérüléseket azok
                                mértékével együtt.</p>
                            <div class="socialmedia">
                                <a href="https://www.facebook.com/carscopesite" class="fa fa-facebook"></a>
                                <a href="https://twitter.com/PCarscope" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-google"></a>
                                <a href="https://www.instagram.com/carscopeproject/" class="fa fa-instagram"></a>
                                <a href="https://www.youtube.com/channel/UC8czUSPqf6TLcAVAt8JQllw"
                                    class="fa fa-youtube"></a>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </main>

    </body>
    <%- include('includes/footer.ejs') %>