<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/termekek.css">
<link rel="stylesheet" href="/css/buttons.css">
<body>
    <%- include('includes/navbar_fooldal.ejs') %>
    <h1>Termékek</h1>
    <div class="wrapper">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
            <section class="products">
                    <div class="container">         
                            <div class="card">
                                <div>
                                    <h1 class="productTitle_teli">
                                        TéliGumi
                                    </h1>
                                </div>
                                <div class="productIMG">
                                    <img src="img/gumi.png" alt="">
                                </div>
                                <div>
                                    <h2 class="productPrice">
                                        40000 Ft
                                    </h2>
                                </div>
                                <div>
                                    
                                    Megbizható
                                </div>
                                <div class="pbtn">
                                    
                                    <button class="join_btn joinform" href="" value="ALL ON" onclick="allOn();">Fizetés</button>

                                </div>
                            </div>              
                    </div>
            </section>
            </div>
        </div>
    </div>
    
</body>
<%- include('includes/footer.ejs') %>