<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/sugo.css">
</head>
<body>
    <h1>Learn more</h1>
    <div class="wrapper">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-white bg-dark box">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                      <h5 class="card-title">Dark card title</h5>
                      <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam molestiae quaerat fugit rerum tempora harum animi dolor nisi? Dolorem magnam ducimus qui sapiente illo natus officia tempore assumenda labore blanditiis.</p>
                    </div>
                  </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-white bg-dark box">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                      <h5 class="card-title">Dark card title</h5>
                      <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam molestiae quaerat fugit rerum tempora harum animi dolor nisi? Dolorem magnam ducimus qui sapiente illo natus officia tempore assumenda labore blanditiis.</p>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-white bg-dark box">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                      <h5 class="card-title">Dark card title</h5>
                      <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam molestiae quaerat fugit rerum tempora harum animi dolor nisi? Dolorem magnam ducimus qui sapiente illo natus officia tempore assumenda labore blanditiis.</p>
                    </div>
                  </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-white bg-dark box">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                      <h5 class="card-title">Dark card title</h5>
                      <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam molestiae quaerat fugit rerum tempora harum animi dolor nisi? Dolorem magnam ducimus qui sapiente illo natus officia tempore assumenda labore blanditiis.</p>
                    </div>
                  </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-white bg-dark box">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                      <h5 class="card-title">Dark card title</h5>
                      <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam molestiae quaerat fugit rerum tempora harum animi dolor nisi? Dolorem magnam ducimus qui sapiente illo natus officia tempore assumenda labore blanditiis.</p>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-white bg-dark box">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                      <h5 class="card-title">Dark card title</h5>
                      <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam molestiae quaerat fugit rerum tempora harum animi dolor nisi? Dolorem magnam ducimus qui sapiente illo natus officia tempore assumenda labore blanditiis.</p>
                    </div>
                  </div>
            </div>

        </div>
    </div>
</html>