<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/sugo.css">
</head>
<body>
  <%- include('includes/navbar.ejs') %>
    <h1>Tudj meg t2bbet</h1>
    <div class="wrapper">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-white bg-dark box">
                    <div class="card-header">A CarScope</div>
                    <div class="card-body">
                      <h5 class="card-title">Mi a célja az oldalnak?</h5>
                      <p class="card-text">Oldalunk célja, hogy az adatbázisunkan található információkat olcsón és könnyen elérhetően szolgáltassuk önöknek. Ezekkel az adatokkal elkerülhető egy rossz, törött, esetleg valótlan kilóméteróra állású autó vásárlása.</p>
                    </div>
                  </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-white bg-dark box">
                    <div class="card-header">Lekérdezés</div>
                    <div class="card-body">
                      <h5 class="card-title">Mi az a járműazonosító szám, közismert nevén alvázszám, (VIN)?</h5>
                      <p class="card-text">A VIN a Vehicle Identification Number angol kifejezés rövídítése; egy egyedi, 17 karakterből álló azonosítóról van szó, amelyet a gépkocsi gyártója rendel az egyes gépkocsikhoz. A VIN szám a gépkocsi különböző alkatrészein, illetve a forgalmi engedélyben is megtalálható.</p>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-white bg-dark box">
                    <div class="card-header">Adatbázis</div>
                    <div class="card-body">
                      <h5 class="card-title">Honnan származnak az adatok?</h5>
                      <p class="card-text">Különböző forrásokból gyűjtjük be az adatokat, mint például szerelőműhelyek, állami nyilvántartások, biztosítótársaságok, hálózatba kapcsolt gépjárműflották, stb.</p>
                    </div>
                  </div>
            </div>
           </div>
        </div>
    </div>
</body>
    <%- include('includes/footer.ejs') %>