<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/fooldal.css">
<body>
    <%- include('includes/navbar_vendeg.ejs') %>
    <div>
        <input maxlength='7' value='ABC-123' class="rendszam" id="rendszam" name="rendszam" type="text"/>
    </div>
</body>
<%- include('includes/footer.ejs') %>