body {
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}

.main {
    background-color: #e7e5e5;
    width: 400px;
    height: 100%;
    margin: 12em auto;
    border-radius: 1.5em;
}
.main:hover{
    transition: 0.2s;
    box-shadow: 0 0 20px white;
}

.sign {
    padding-top: 30px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 28px;
}

.un {
width: 76%;
color: rgb(0, 0, 0);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(0, 0, 0, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 27px;
text-align: center;

font-family: 'Ubuntu', sans-serif;
}

form.form1 {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
}

.pass {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(63, 61, 61, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 27px;
text-align: center;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff !important;
    background: black;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(206, 205, 205, 0.12);
    color: black;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: black;
    text-decoration: none;
}

.submit:hover
{
background-image:none;
background-color:rgb(124, 124, 124);
}
.error_message{
    color: red;
    margin-left: 12%;
    margin-right: 12%;
}

input:focus::placeholder {
    color: transparent;
  }
  

@media (max-width: 600px) {
    .main{
      height: 100%;
      width: 100%;
      box-shadow: none;
      padding-bottom: 10px;
    }
    .un{
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .pass{
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .sign{
        margin-left: 10vw;
        margin-right: 10vw;
    }
}
