@font-face{
  font-family: gtiming;
    src: url(../font/good\ timing\ bd.ttf);
}

.font{
  font-size: 5vw;
  padding-top: 100px;
  padding-bottom: 30px;
  font-family: gtiming;
  text-align: center;
}
body{
    background-color: black;
    height: fit-content;
    padding-bottom: 5vh;
}
h1{
    color: white;
    text-align: center;
}
.rendszamdiv{
  margin-left: 12px;
}
.rendszam {
    color: white;
    display: block;
    margin: 1em auto;
    border: none;
    width: 10.6ch;
    background: repeating-linear-gradient(90deg, white 0, white 1ch, transparent 0, transparent 1.5ch) 0 100%/10ch 2px no-repeat;
    font: 5ch droid sans mono, consolas, monospace;
    letter-spacing: 0.5ch;
    text-transform: uppercase;
  }
  .rendszam .alvazszam:focus {
    outline: none;
    color: white;
  }
  option{
    align-items: center;
    text-align: center;
  }
  select{
    align-items: center;
    text-align: center;
  }
  .row{
    align-items: center;
    align-content: center;
  }
  .alvazszam {
    color: white;
    display: block;
    margin: 1em auto;
    border: none;
    padding: 0;
    width: 25.5ch;
    background: repeating-linear-gradient(90deg, white 0, white 1ch, transparent 0, transparent 1.5ch) 0 100%/25ch 2px no-repeat;
    font: 5ch droid sans mono, consolas, monospace;
    letter-spacing: 0.5ch;
    text-transform: uppercase;
  }
  .join_btn {
    border: 1px solid white !important;
    margin-bottom: 20px;
    background-color: transparent;
  }
  .join_btn:hover {
    box-shadow: none !important;
    color: red !important
  }
  .centered{
    align-items: center;
    text-align: center;
    align-content: center;
  }
  @media (max-width: 650px) {
    .alvazszam{
    margin: 1em auto;
    width: 25.5ch;
    background: repeating-linear-gradient(90deg, white 0, white 1ch, transparent 0, transparent 1.5ch) 0 100%/25ch 2px no-repeat;
    font: 2.7ch droid sans mono, consolas, monospace;
    letter-spacing: 0.5ch;
    }
    .font{
      font-size: 14vw;
    }
    .nincs_talalat{
      font-size: 25px;
    }
    .infokep{
      max-width: 200px !important;
    }
    .info_cim{
      font-size: 25px;
    }
  }
  .keresBTN{
    padding-top: 0px;
  }
  @media (min-width: 650px) and (max-width: 1150px) {
    .font{
      font-size: 10vw;
    }
  }
  .nemet{
    width: 12.2ch;
    background: repeating-linear-gradient(90deg, white 0, white 1ch, transparent 0, transparent 1.5ch) 0 100%/12ch 2px no-repeat;
  }
  .landscape {
    width: 60%;
    max-height: 40px;
    max-width: 70px;
    margin-bottom: 5px;
    align-items: center;
    align-content: center;
    text-align: center;
    border: 1px solid white;
}
.landscape2 {
  width: 60%;
  max-height: 160px;
  max-width: 280px;
  margin-bottom: 5px;
  align-items: center;
  align-content: center;
  text-align: center;
}
.rendszam_pelda{
  font-size: 3rem;
  color: white;
}
.m_rendszam_pelda{
  margin-left: 8px;
}
@media (max-width: 840px) {
  .rendszam_pelda{
    font-size: 2rem;
  }
}
@media (max-width: 370px) {
  .rendszam_pelda{
    font-size: 1.6rem;
  }
}
.ertekeles{
  max-width: 240px;
}
.info_cim{
  margin-bottom: 30px;
}
.infokep{
  max-width: 300px;
  margin-top: 60px;
  margin-bottom: 40px;
}
.infokepdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.nincs_talalat{
  margin-left: 10%;
  margin-right: 10%;
}
