@font-face{
  font-family: gtiming;
    src: url(../font/good\ timing\ bd.ttf);
}
* {
  box-sizing: border-box;
}
 
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}
.shopping-cart {
  width: 1200px;
  min-width: fit-content;
  height: fit-content;
  margin: 80px auto;
  background: -moz-linear-gradient(0deg, rgba(127, 0, 0, 0.6), rgba(0, 0, 0, 0.7) 100%);
  background: -webkit-linear-gradient(0deg, rgba(127, 0, 0, 0.6), rgba(0, 0, 0, 0.7) 100%);
  background: -webkit-gradient(linear, 0deg, from(rgba(127, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.7)));
  background: -o-linear-gradient(0deg, rgba(127, 0, 0, 0.6), rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to 0deg, rgba(127, 0, 0, 0.6), rgba(0, 0, 0, 0.7) 100%);
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  border: solid 2px white;
  display: flex;
  flex-direction: column;
  
}
.title {
  font-family: gtiming;
  text-align: center;
  height: 110px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: white;
  font-size: 3rem;
  font-weight: 500;
}
 
.item {
  padding: 20px 30px;
  height: fit-content;
  display: flex;
}
 
.item{
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}
/*.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
*/
.image {
  margin-right: 50px;
}
 
.description {
  font-family: gtiming;
  padding-top: 10px;
  margin-right: 60px;
  width: 195px;
}
 
.description span {
  display: block;
  font-size: 14px;
  color: white;
  font-weight: 400;
}
 
.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: white;
}
.quantity {
  font-family: gtiming;
  display: inline-block;
  padding-top: 30px;
  margin-right: 60px;
  min-width: fit-content;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: white;
  font-weight: 300;
}
 
/*button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
*/
.minus-btn {
  font-family: gtiming;
  border: solid 1px lightgray;
  width: 30px;
  background: transparent;
  color: white;
  font-weight: bold;
}
.plus-btn{
  font-family: gtiming;
  border: solid 1px lightgray;
  width: 30px;
  background: transparent;
  color: white;
  font-weight: bold;
}
.plus-btn:hover{
 color: darkred;
}
.minus-btn:hover{
  color: darkred; 
}

.price {
  font-family: gtiming;
  width: 180px;
  padding-top: 25px;
  text-align: center;
  font-size: 26px;
  color: white;
  font-weight: bold;
  margin-left: 30px;
  min-width: fit-content;
}
.total-price {
  font-family: gtiming;
  width: 220px;
  padding-top: 17px;
  text-align: center;
  font-size: 35px;
  color: white;
  font-weight: bold;
  margin-left: 45px;
  min-width: fit-content;
}
.ureskosar{
  text-align: center;
  color: white;
  margin: 20px;
  font-size: 2rem;
  font-family: gtiming;
}
@media (max-width: 800px) {
  .shopping-cart {
    width: 90%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    margin-top: 10px;
    margin-left: 0;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  } 
  .total-price {
    margin: 0;
    width: 200px;
  }
  .gumi_img{
    margin: 0px;
  }
  .ureskosar{
    font-size: 1.5rem;
  }
  .price {
    margin-left: 0px;
  }
  .vegosszeg{
    font-size: 1.5rem !important;
  }
  .quantity{
    margin-top: 0px;
    padding-top: 0px;
  }
  .vegosszeg{
    margin-left: auto;
    margin-right: auto;
    text-align: center !important;
    padding-bottom: 10px !important;
  }
  .fizetesgomb{
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
    text-align: center !important;
    margin-bottom: 10px !important;
  }
}
.gumi_img
{
  margin-left: 25px;
  height: 90px;
  width: 90px;
}
.db{
  background: transparent;
}
.row{
  display: inline-block;
}
.ertekeles{
  max-width: 90px;
}
.vegosszeg{
  font-family: gtiming;
  text-align: left;
  padding: 20px 30px;
  color: white;
  font-size: 3rem;
  font-weight: 500;
}
.fizetesgomb{
  float: right;
  text-align: right;
  font-size: 1rem !important;
  padding: 1rem 1rem !important;
  margin-top: 10px !important;
}