@font-face{
    font-family: gtiming;
    src: url(../font/good\ timing\ bd.ttf);
}
.nav-bk{
     
    background: #070000;    
    background: -webkit-linear-gradient(to right,#4C0001, #070000,  #070000);   
    background: linear-gradient(to right,#4C0001, #070000,  #070000);
    }
    
.navbar-brand img{
    max-width: 90px;
}
.navbar{
    font-size: 25px;
    font-family: gtiming;
}

.nav-item{
    margin-right: 15px;
}
    