select {
    width: 250px;
    color: white;
    background-color: black;
    margin-bottom: 1.5em;
    padding: 0.25em;
    border: 0;
    border-bottom: 2px solid currentcolor;
    font-weight: bold;
    letter-spacing: 0.15em;
    border-radius: 0;
}

select:focus,
select:active {
    outline: 0;
    border-bottom-color: red;
}

@media (min-width: 800px) {
    select {
        font-size: 25px;
        width: 400px;
    }
}