body{
    background-color: black;
}
h1{
    text-align: center;
    color: white;
    padding: 5vh;
}
.box{
    border-color: white;
    margin-top: 10vh;
    margin-left: 3vw;
    margin-right: 3vw;
}
