body{
    background-color: black;
    overflow-x: hidden;
    max-width: 100vw;
}
h1{
    text-align: center;
    color: black;
    padding: 15vh;
    font-size: 70px;
    font-weight: bold;
    -webkit-text-stroke: 3px white;

}
.box{
    border-color: white;
    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vw;
}
