@font-face{
    font-family: Angel;
    src: url(../font/Angels.ttf);
  }
body{
    background-color: black;
    overflow-x: hidden;
    max-width: 100vw;
}
h1{
    text-align: center;
    padding-top: 15vh;
    font-size: 6vh;
    font-family: Angel;
    color: white;
}
.box{
    border-color: white;
    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vw;
}
.box:hover{
  transition: 0.2s;
  box-shadow: 0 0 30px white;
}

.row{
  max-width: 100vw;
  margin: 0px;
  padding: 0px;
}
