@font-face{
  font-family: gtiming;
    src: url(../font/good\ timing\ bd.ttf);
}
body{
    background-color: black;
    overflow-x: hidden;
    max-width: 100vw;
    font-family: "Open Sans", sans-serif;
}
.row{
    max-width: 100vw;
    margin: 0px;
    padding: 0px;
  }
  .products {
    max-width: fit-content;
    margin: 40px;
    max-height: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .products .card {
    background: -moz-linear-gradient(90deg, rgba(127, 0, 0, 0.6), rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-linear-gradient(90deg, rgba(127, 0, 0, 0.6), rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-gradient(linear, 90deg, from(rgba(127, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.7)));
    background: -o-linear-gradient(90deg, rgba(127, 0, 0, 0.6), rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to 90deg, rgba(127, 0, 0, 0.6), rgba(0, 0, 0, 0.7) 100%);
    border: rgb(36, 36, 36) solid 1px;
    color: lightgray;
    text-align: center;
    padding: 30px 10px 30px 10px;
    transition: 0.3s;
    margin-bottom: 30px;
    min-height: 445px;
    width: 270px;
    
  }
  .products .card:hover {
    transition: 0.3s;
    box-shadow: 0 0 30px darkred;
  }
  .products h1 {
    font-size: large;
    font-weight: bold;
  }
  
  .products .productTitle{
    color: white;
    font-family: gtiming;
    font-size: 28px;
    min-height: 66px;
  }
  .poduct_type{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 19px;
  }
  .products .productIMG img {
    width: 60%;
    max-height: 220px;
    max-width: 180px;
    margin-bottom: 5px;
  }
  .products .productPrice {
    font-size: large;
    font-weight: bold;
    color: lightgray;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .products a {
    text-decoration: none;
  }
  .join_btn {
    border: 1px solid lightgray !important;
    margin-bottom:0;
    background-color: transparent;
  }
  .join_btn:hover {
    box-shadow: none !important;
    color: white !important;
  }
  .joinform {
    color: lightgray!important;
    border: 1px solid white !important;
    border-radius: 5px;
  }
  .join_btn:before {
    background: linear-gradient(
    120deg,
    transparent,
    rgba(248, 248, 248, 0.4),
    transparent
    )!important;
    transition: all 600ms !important;
  }
  .joinform {
    margin-top: 20px !important;
    font-size: 0.9rem !important;
    padding: 0.7rem !important;
  }
  .popup_img{
    margin-top: 15px;
    margin-bottom: 5px;
    max-height: 100px;
    max-width: 100px;
  }
  .text-center{
    align-items: center;
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .modalbg
  {
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgb(0, 0, 0);
    border: solid 3px darkgray;
  }
  .wrapper .row{
    max-width: 100vw;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 800px) {
    .modal{
      margin-left:auto;
      margin-right:auto;
    }
  }
  .egydb{
    font-size: 0.7rem !important;
    padding: 0.5rem !important;
  }
  .ertekeles{
    max-width: 110px;
  }

